{% extends "base.html" %}
{% load staticfiles %}
{% block extra_head %}
<script type="text/javascript" src="{% static 'js/vendor/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
<script type="text/javascript" src="{% static 'js/controllers/TestController.js' %}"></script>
<script type="text/javascript" src="{% static 'js/controllers/UserController.js' %}"></script>
<script type="text/javascript" src="{% static 'js/services/userFactory.js' %}"></script>
{% endblock extra_head %}

{% block content %}
<div ng-app="cv">
    <div ng-controller="TestController">
            <h3>  {% verbatim %}{{ test[0].info_1 }}{% endverbatim %}</h3>
            <p> {% verbatim %}{{ test[0].info_2 }}{% endverbatim %} </p>
    </div>
    <div ng-controller="UserController">
            <h3>  {% verbatim %}{{ test[0].info_1 }}{% endverbatim %}</h3>
            <p> {% verbatim %}{{ test[0].info_2 }}{% endverbatim %} </p>
    </div>


</div>

{% endblock content %}